<div class="navbar p-32">
  <div>
    <div class="mb-32">
      <a class="nav-link active" aria-current="page" href="#"><img
          src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/053bcf3afe88348b79971d2ea8de28f179cba5c5/week5/logo-ANSWER.svg"
          alt="logo"></a>
    </div>


    <ul class="nav flex-column">

      <li class="nav-item mb-24">
        <a class="nav-link text-dark fw-bold" href="#"><span class="material-symbols-outlined align-bottom me-16">
            insert_chart
          </span>Dashboard</a>
      </li>
      <li class="nav-item mb-24">
        <a class="nav-link text-dark fw-bold" href="#"><span class="material-symbols-outlined align-bottom me-16">
            <span class="material-symbols-outlined">
              forum
            </span>
          </span>Question</a>
      </li>
      <li class="nav-item mb-24">
        <a class="nav-link text-dark fw-bold" href="../pages/index.html"><span class="material-symbols-outlined align-bottom me-16">
            <span class="material-symbols-outlined">
              assignment
            </span>
          </span>Assignment</a>
      </li>
      <li class="nav-item mb-24">
        <a class="nav-link text-dark fw-bold" href="#"><span class="material-symbols-outlined align-bottom me-16">
            <span class="material-symbols-outlined">
              video_library
            </span>
          </span>Course</a>
      </li>
      <li class="nav-item nav-item-active mb-24">
        <a class="nav-link text-dark fw-bold" href="../pages/admin.html"><span class="material-symbols-outlined align-bottom me-16">
            <span class="material-symbols-outlined">
              group
            </span>
          </span>Admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark fw-bold" href="#"><span class="material-symbols-outlined align-bottom me-16">
            <span class="material-symbols-outlined">
              settings
            </span>
          </span>Settings</a>
      </li>
    </ul>
  </div>

  <div class="d-flex">
    <img class="d-block user-img me-16"
    src="https://github.com/hexschool/2022-web-layout-training/blob/main/week5/andychen.jpeg?raw=true" alt="user">
    <div>
      <h2 class="fs-16 fw-bold mb-4">Andy Chen</h2>
      <p class="fs-14 text-secondary">andy0401@mail.com</p>
    </div>
  </div>

</div>