.ff-roboto {
  font-family: 'Roboto Mono';
}

.dropdown-toggle {
  &::after {
    color: $success !important;
  }
}

.link-dark:hover,
.link-dark:focus {
  color: $success !important;
}

.btn-light {
  &:hover {
    background-color: $success !important;
    color: $light !important;
  }
}

.btn-hover-light {
  &:hover {
    span {
      color: $light !important;
    }
  }
}